/*!
 * TaDa Development - Hearing Aids Chesapeake CSS (https://hearingaidsmanassas.com)
 * All rights reserved Tada! Development
 */
.browserupgrade {
  margin: 0.2em 0;
  background: #F5F5F5;
  color: #000;
  padding: 0.2em 0;
}
body {
  background-color: #F5F5F5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

/*NAVIGATION CSS*/
a.navbar-brand.white-text {
  color: white;
}
a.btn.btn-default.nav-link.white-text {
  color: white;
}
a.navbar-brand {
    font-size: 1.5em;
    color: black;
}

/*Carousel CSS*/
span.carousel-control-prev-icon {
  background-image: none;
}
span.carousel-control-next-icon {
  background-image: none;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  background: radial-gradient(black, transparent);
}
.carousel-images {
  max-height: 15em;
}

/*FORM SECTION CSS*/
input[type="submit"] {
  background: lightsteelblue;
}
.form-container {
  padding: 11em;
  color: white;
}
.form-input {
  margin: 0.3em 0em 0.3em 0em;
  border: solid .1em aliceblue;
  border-radius: .2em;
}

/*MAIN CONTENT CSS*/
.main-content {
  background-color: #F5F5F5;
}
.tada-main-box {
  padding: 1em;
}
.tada-main-box-two {
  padding: 1em;
}
span.display-none-mobile {
  display: none;
}
.tada-bg-blue {
    background-color: #7298B5;
    /*background-color: #B6B9C7;*/
}
.tada-bg-box {
    border: solid;
    color: white;
}
.tada-bg-box-img {
    background: url(../images/box-bg-1.jpg);
    background-position: top;
    background-webkit-transform: rotate(180deg);
    background-transform: rotate(180deg);
    position: relative;
    overflow: hidden;

}
.tada-section {
  padding: 5em;
}
.tada-header {
  padding: 5em 2em 2em 5em;
}



/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    /*Carousel CSS*/
    .carousel-item {
      height: 30em;
      width: 100%;
    }
    div#carouselExampleCaptions {
        height: 100%;
    }
    /*FORM SECTION CSS*/
    .form-input {
      margin: .3em;
    }
    .carousel-images {
      max-height: 30em;
      min-height: 15em;
    }
    a.call-button {
      font-size: 1.5em;
    }
    span.display-none-mobile {
      display: inherit;
    }
    .tada-h2 {
      font-size: 1.5rem;
    }
    .tada-main-box {
        padding: 1em 1em 1em 1em;
    }
    .tada-main-box-two {
        padding: 1em 0em 0em 0em;
    }
    .tada-bg-box {
        border: solid;
        /*padding: 5em 15em 5em 15em;*/
        background: url(../images/box-bg-1.jpg);
        background-position: top;
        color: white;
    }

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .tada-main-box {
        padding: 1em 1em 1em 1em;
    }
    .tada-main-box-two {
        padding: 2em 1em 1em 1em;
    }
    .tada-bg-box {
        border: solid;
        /*padding: 5em 15em 5em 15em;*/
        background: url(../images/box-bg-1.jpg);
        background-position: top;
        color: white;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    span.display-none-desktop {
      display: none;
    }
    .tada-h2 {
      font-size: 2rem;
    }
    .tada-main-box {
        padding: 1em 1em 1em 1em;
    }
    .tada-main-box-two {
        padding: 3em 1em 1em 1em;
    }
    .tada-bg-box {
        border: solid;
        background: url(../images/box-bg-1.jpg);
        background-position: top;
        color: white;
    }
  
    
 }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .tada-main-box {
        padding: 1em 1em 1em 1em;
    }
    .tada-main-box-two {
        padding: 7em 1em 1em 1em;
    }
    .tada-bg-box {
        border: solid;
        padding: 10em 15em 10em 15em;
        /*background: url(../images/box-bg-1.jpg);
        background-position: top;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);*/
        color: white;
    }
    .tada-bg-box-img {
        background: url(../images/box-bg-1.jpg);
        background-position: top;
        background-webkit-transform: rotate(180deg);
        background-transform: rotate(180deg);
        position: relative;
        overflow: hidden;

    }
    .form-container-inside {
        padding: 2em 12em 2em 12em;
    }

}
