/*!
 * TaDa Development - Hearing Aids Chesapeake CSS (https://chesapeakehearingaids.com)
 * All rights reserved Tada! Development
 */
.browserupgrade {
    margin: 0.2em 0;
    background: #F5F5F5;
    color: #000;
    padding: 0.2em 0;
}
body {
    background-color: #F5F5F5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/*NAVIGATION CSS*/
a.navbar-brand.white-text {
    color: white;
}
.navbar-brand.white-text, a:hover {
    color: white;
}
a.btn.btn-default.nav-link.white-text {
    color: white;
}
a.navbar-brand {
    font-size: .9em;
    color: white;
    font-family: 'Arimo', sans-serif;
    padding-top: 3%;
    padding-bottom: 0em;
}
.navbar-light .navbar-brand {
    color: white;
}
.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }
    .dropdown-toggle{
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
        margin-bottom: 0;
    }
}


/*Carousel CSS*/
span.carousel-control-prev-icon {
    background-image: none;
}
span.carousel-control-next-icon {
    background-image: none;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    background: radial-gradient(black, transparent);
    font-family: 'Arimo', sans-serif;
}
.tada-carousel-override {
    padding-top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.tada-carousel-override-two {
    padding-top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.carousel-caption h5, p {
    font-size: 2em;
}
span.cursive {
    font-family: Cursive, sans-serif;
}
h2.carousel-brand {
  font-size: 1em;
}
.carousel-images {
    max-height: 15em;
}


/*ABOUT CSS*/
.tada-section {
    padding: 1em;
}
.tada-header {
    padding: 2em 0em 0em 2em;
}
.tada-img {
    padding: 0em;
}
.hearing-box {
    text-align: center;
    margin-left: auto;
    vertical-align: middle;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
}
.row.text-center {
  display: inline-flex;
}
button.btn.btn-lg.btn-default.about-btn {
    border: .2em solid #7298B5;
    border-radius: 2em;
    margin: 1em;
}
.btn-lg.about-btn {
    border: .2em solid #7298B5;
    border-radius: 2em;
    margin: 1em;
}
:hover.btn-lg.about-btn {
    border: .2em solid red;
    border-radius: 2em;
    margin: 1em;
}
:hover.btn-lg.about-btn {
    border: .2em solid #7298B5;
    border-radius: 2em;
    margin: 1em;
    background-color: #7298B5;
    color: white;
}

/*FORM SECTION CSS*/
input[type="submit"] {
    background: lightsteelblue;
}
.form-container {
    padding: 1em;
    color: white;
}
.form-input {
    margin: 0.3em 0em 0.3em 0em;
    border: solid .1em aliceblue;
    border-radius: .2em;
}

/*MAIN CONTENT CSS*/
.main-content {
    background-color: #F5F5F5;
}
.tada-main-box {
    padding: 1em;
}
.tada-main-box-two {
    padding: 1em;
}
span.display-none-mobile {
    display: none;
}
.tada-bg-blue {
    background-color: #7298B5;
    /*background-color: #B6B9C7;*/
}
.tada-bg-box {
    border: solid;
    color: white;
}
.tada-bg-box-img {
    background: url(../images/box-bg-1.jpg);
    background-position: top;
    background-webkit-transform: rotate(180deg);
    background-transform: rotate(180deg);
    position: relative;
    overflow: hidden;

}


/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    /*Carousel CSS*/
    .carousel-item {
        height: 30em;
        width: 100%;
    }
    div#carouselExampleCaptions {
        height: 100%;
    }
    /*FORM SECTION CSS*/
    .form-input {
        margin: .3em;
    }
    .carousel-images {
        max-height: 30em;
        min-height: 15em;
    }
    a.call-button {
        font-size: 1.5em;
    }
    span.display-none-mobile {
        display: inherit;
    }
    .tada-h2 {
        font-size: 1.5rem;
    }
    .tada-main-box {
        padding: 1em 1em 1em 1em;
    }
    .tada-main-box-two {
        padding: 1em 0em 0em 0em;
    }
    .tada-bg-box {
        border: solid;
        /*padding: 5em 15em 5em 15em;*/
        background: url(../images/box-bg-1.jpg);
        background-position: top;
        color: white;
    }

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .tada-main-box {
        padding: 1em 1em 1em 1em;
    }
    .tada-main-box-two {
        padding: 2em 1em 1em 1em;
    }
    .tada-bg-box {
        border: solid;
        /*padding: 5em 15em 5em 15em;*/
        background: url(../images/box-bg-1.jpg);
        background-position: top;
        color: white;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    span.display-none-desktop {
        display: none;
    }
    .tada-h2 {
        font-size: 2rem;
    }
    .tada-main-box {
        padding: 1em 1em 1em 1em;
    }
    .tada-main-box-two {
        padding: 3em 1em 1em 1em;
    }
    .tada-bg-box {
        border: solid;
        background: url(../images/box-bg-1.jpg);
        background-position: top;
        color: white;
    }
  
    
 }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    a.navbar-brand {
        font-size: .9em;
        color: black;
        font-family: 'Arimo', sans-serif;
        padding-top: 0%;
    }
    a.navbar-brand {
        font-size: 1.5em;
        color: black;
        font-family: 'Arimo', sans-serif;
    }
    h2.carousel-brand {
        font-size: 4em;
    }
    .carousel-caption h5, p {
        font-size: 2em;
    }
    .tada-section {
        padding: 5em;
    }
    .tada-header {
        padding: 5em 2em 2em 5em;
    }
    .tada-main-box {
        padding: 1em 1em 1em 1em;
    }
    .tada-main-box-two {
        padding: 7em 1em 1em 1em;
    }
    .tada-bg-box {
        border: solid;
        padding: 10em 15em 10em 15em;
        /*background: url(../images/box-bg-1.jpg);
        background-position: top;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);*/
        color: white;
    }
    .tada-bg-box-img {
        background: url(../images/box-bg-1.jpg);
        background-position: top;
        background-webkit-transform: rotate(180deg);
        background-transform: rotate(180deg);
        position: relative;
        overflow: hidden;
    }
    .tada-img {
        padding-top: 5em;
    }
    .form-container {
        padding: 11em; 
        color: white;
    }
    .form-container-inside {
        padding: 2em 12em 2em 12em;
    }


}
