/*!
 * TaDa Development - Hearing Aids Chesapeake CSS (https://chesapeakehearingaids.com)
 * All rights reserved Tada! Development
 */
.browserupgrade {
    margin: 0.2em 0;
    background: #F5F5F5;
    color: #000;
    padding: 0.2em 0;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url(https://fonts.googleapis.com/css?family=Arimo&display=swap) format('url'),
         url(https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap) format('url'),
         url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
body {
    background-color: #F5F5F5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
:root {
    /* --tada-blue: #586db3; */
    --tada-blue: #5371FF; 
    --tada-blue: #5359ff;
    /* --tada-blue: #0054A6; v2 */
    /* --tada-coral: #CE6152; v1*/
    /* --tada-coral: #F2343C; v2 */
    /* --tada-coral: #dd5a63; v3*/
    --tada-coral: #FF5758;
    
    --main-bg:  #F5F5F5;
    --mainTransition: all 0.3s linear;
    --tada-black: black;
}

img {
    cursor: -webkit-grab;
}
img:active {
    cursor: -webkit-grabbing;
}
/* colors */
.tada-bg-blue {
    /* background-color: #7298B5; V1*/ 
    background-color: var(--tada-blue);
}
.tada-font-coral {
    color: var(--tada-coral);
}
.tada-coral {
    color: var(--tada-coral);
}
.bg-blue {
    background-color: var(--tada-blue);
}
.main-content {
    background-color: var(--main-bg);
}
.black {
    color: var(--tada-black);
}
/* colors */


/* CALL TO ACTION SECTION */
a.call-button {
    font-size: 1rem;
    display: flex;
}
a.call-to-action {
    color: var(--tada-blue);
}
a.call-to-action:hover {
    color: var(--tada-coral);
    text-decoration: none;
}
a.call-to-action.black {
    color: var(--tada-black);
    text-decoration: none;
}
a.call-to-action.black:hover {
    color: var(--tada-coral);
    text-decoration: none;
}
.bg-tada-blue {
    background-color: white;
}
/* END CALL TO ACTION CSS */


/*NAVIGATION CSS*/
i.fa.fa-2x.fa-assistive-listening-systems {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}
.logo {
    width: auto;
    height: 2em;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.7);
    cursor: -webkit-grab;
}
a.nav-link:active {
    cursor: grabbing;
}
a.navbar-brand.white-text {
    color: white;
}
.navbar-brand.white-text, a:hover {
    color: white;
}
.navbar-blue {
    background-color: var(--tada-blue);
}
a.navbar-brand {
    font-size: .9em;
    color: white;
    padding-top: 0%;
    padding-bottom: 0em;
}
span.brand-text {
    vertical-align: text-top;
    contain: content;
    align-content: center;
    font-family: 'Libre Baskerville', serif;
    content: inherit;
    color: black;
}
a.nav-link-tada {
    color: red;
    font-size: 1.3em;
    padding-right: .5rem;
    padding-left: .5rem;
    vertical-align: text-bottom;
    content: inherit;
    align-content: center;
    font-family: 'Libre Baskerville', serif;
}
a.nav-link {
    color: red;
    font-size: 1.3em;
    padding-right: .5rem;
    padding-left: .5rem;
    vertical-align: text-bottom;
    content: inherit;
    align-content: center;
    font-family: 'Libre Baskerville', serif;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
a.nav-link:hover {
    vertical-align: text-bottom;
    contain: content;
    align-content: center;
    font-family: 'Libre Baskerville', serif;
    content: inherit;
    color: black;
}
a.navbar-brand.text-uppercase {
    color: white;
}
a.navbar-brand.text-uppercase:hover {
    color: white;
}
.f-1_4 {
    font-size: 1.4em;
}
.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
    display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }
    .dropdown-toggle{
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
        margin-bottom: 0;
    }
}

.nav a {
    font-size: 1.2em;
}
button {
    font-family: 'Arimo', helvetica;
    font-weight: bold;
}


/*CAROUSEL CSS*/
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-bottom: 20px;
    color: black;
    text-align: center;
    background: rgba(0,0,0, .);
    font-family: 'Arimo', sans-serif;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 41em;
}
p.carousel-text.text-uppercase {
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    font-size: 2em;
}
.hearing-aids-power-statement {
    font-size: 2.5em;
    font-family: 'Libre Baskerville', serif;
    color: var(--tada-blue);
    line-height: 1.2;
}
.tada-carousel-override {
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.tada-carousel-override-two {
    padding-top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.carousel-caption h5, p {
    font-size: 1.2em;
    font-family: 'Arimo', serif;
}
span.cursive {
    font-family: Cursive, sans-serif;
}
.carousel-brand {
    font-size: 5em;
    color: var(--tada-coral);
}
h1.carousel-brand {
    font-size: 2.5em;
    font-family: 'Libre Baskerville', serif;
}
/*carousel height and carousel image height*/
.carousel-images {
    height: 100%;
}
.carousel-item.active {
    height: 41em;
}
a#arrow {
    color: var(--tada-coral);
}
a#arrow:hover {
    color: var(--tada-blue);
}
span.carousel-control-prev-icon {
    background-image: none;
}
span.carousel-control-next-icon {
    background-image: none;
}
/* END CAROUSEL CSS */


/*MAIN CONTENT CSS*/
.tada-main-box {
    padding: 1em;
}
.tada-main-box-two {
    padding: 1em;
}
span.display-none-mobile {
    display: none;
}
.tada-bg-box {
    border: solid;
    color: white;
}
.tada-bg-box-img {
    background: url(../images/box-bg-1.png);
    background-position: top;
    background-webkit-transform: rotate(180deg);
    background-transform: rotate(180deg);
    position: relative;
    overflow: hidden;
}
p.tada-bg-box-text {
    font-size: 1rem;
}
.tada-container {
    padding: 5em 1em 10em 1em;
}
p.main-section-paragraph {
    font-size: 1.3em;
}
ul.number-list {
    list-style: decimal;
}

/* PURE CSS TRIANGLE WITH BORDER LIST */
.triangle-row {
    display: flex;
    border-left: 1.5em solid var(--tada-coral);
}
.triangle-box {
    /* border-left: 1.5em solid var(--tada-coral); */
    height: 3em;
    display: grid;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 10px solid var(--tada-coral);
    border-bottom: 7px solid transparent;
    display: grid;
    vertical-align: middle;
    margin: auto;
}
ul.triangle-list {
    line-height: 1;
    margin: 0;
    list-style: none;
    display: contents;
}
li.triangle-list-items {
    padding: .7em;
}
.list-title {
    background-color: lightgray;
    margin: 0em;
    font-size: 1px;
    padding-left: 1em;
}
/* PURE CSS TRIANGLE WITH BORDER LIST */
/* END MAIN CONTENT CSS */


/*ABOUT CSS*/
p.contact-p {
    font-size: 1em;
}
.tada-section {
    padding: 1em;
}
.tada-header {
    font-size: 3em;
}
.tada-img {
    padding: 0em;
}
.hearing-box {
    text-align: center;
    margin-left: auto;
    vertical-align: middle;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
}
.row.text-center {
    display: inline-flex;
}
button.btn.btn-lg.btn-default.about-btn {
    border: .2em solid var(--tada-coral);
    border-radius: 2em;
    margin: 1em;
}
.btn-lg.about-btn {
    border: .2em solid var(--tada-coral);
    border-radius: 2em;
    margin: 1em;
}
:hover.btn-lg.about-btn {
    border: .2em solid red;
    border-radius: 2em;
    margin: 1em;
}
:hover.btn-lg.about-btn {
    border: .2em solid var(--tada-coral);
    border-radius: 2em;
    margin: 1em;
    background-color: var(--tada-coral);
    color: white;
}
/* END ABOUT SECTION CSS */


/* CONTACT SECTION CSS */
p.contact {
    font-size: 1em;
}
p.tada-contact-p {
    font-size: 1.5em;
}
iframe#hearing-aids-map {
    width: 100%;
}
label {
    display: contents;
}
/* END CONTACT SECTION */


/* HEARING AIDS  */
p.hearing-aids {
    font-size: 1.5em;
}
p.widex-hearing-aids {
    font-size: 1em;
}
.manufacturer-btn {
    width: 100%;
    color: white;
    background-color: var(--tada-coral);
    padding: 1em;
    font-weight: bolder;
    border: none;
}
.manufacturer-btn:hover {
    width: 100%;
    color: black;
    background-color: var(--tada-coral);
    padding: 1em;
}
.manufacturer-images {
    min-height: 13em;
    width: 100%;
}
.hearing-aid-manufacturer-box {
    padding: 3em;
}
.hearing-aid-style-img {
    margin: auto 0;
    vertical-align: middle;
    justify-content: center;
    display: flex;
}
.youtube-video {
    margin: auto;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    padding-top: 8em;
}
iframe {
    width: 100%;
}
button.btn-default.manufacturer-btn.text-uppercase:hover {
    -webkit-transition: .5s;
    font-size: 1.1em;
}
/* END HEARING AIDS */


/* MANUFACTURER PAGES */
.manufacturer-text {
    padding: 2em;
}
/* END MANUFACTURER PAGES */


/*FORM SECTION CSS*/
input[type="submit"] {
    background: var(--tada-coral);
}
input[type="submit"]:hover {
    color: white;
}
.form-container {
    padding: 8em 1em 8em 1em;
}
.form-input {
    margin: 0.3em 0em 0.3em 0em;
    border: solid .1em aliceblue;
    border-radius: .2em;
}
/* END FORM CSS */


/*FOOTER CSS*/
footer p {
    font-size: 1em;
}
footer a {
    color: var(--tada-blue);
}
footer a:hover {
    color: var(--tada-coral);
    text-decoration: none;
}
/* END FOOTER CSS */


/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

    /*CAROUSEL CSS*/
    div#carouselExampleCaptions {
        height: 36em;
    }
    .carousel-images {
        height: 100%;
    }
    .carousel-item.active {
        height: 50em;
    }
    /* END CAROUSEL CSS */

    /*FORM SECTION CSS*/
    .form-input {
        margin: .3em;
    }
    span.display-none-mobile {
        display: inherit;
    }
    .tada-h2 {
        font-size: 1.5rem;
    }
    .tada-main-box {
        padding: 1em 1em 1em 1em;
    }
    .tada-main-box-two {
        padding: 1em 0em 0em 0em;
    }
    .tada-container {
        padding: 5em 3em 10em 3em;
    }
    .tada-bg-box {
        border: solid;
        background: url(../images/box-bg-1.png);
        background-position: top;
        color: white;
    }
    p.tada-bg-box-text {
        font-size: 2rem;
    }
    .hearing-aid-manufacturer-box {
        padding: .5rem!important;
    }
    /* MANUFACTURER PAGE */
    .resound-container-image {
        height: fit-content;
        object-fit: cover;
    }
    iframe {
        width: 500px;
    }
    .tada-header {
        font-size: 4em;
    }
    /* end manufacturer page */

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .tada-main-box {
        padding: 2em 1em 1em 1em;
    }
    .tada-main-box-two {
        padding: 2em 1em 1em 1em;
    }
    p.hearing-aids {
        font-size: 1em;
    }
    p.tada-contact-p {
        font-size: 1em;
    }
    .tada-bg-box {
        border: solid;
        background: url(../images/box-bg-1.png);
        background-position: top;
        color: white;
    }
    .tada-carousel-override {
        padding-top: 7%;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 36em;
    }
    h1.carousel-brand {
        font-size: 4em;
    }
    .carousel-caption h5, p {
        font-size: 2em;
    }
    #bg-black-box {
        color: white;
        text-align: center;
        margin: -1em;
        padding: .3em;
        width: 60%;
        font-size: 1.6em;
        background: rgba(0,0,0,.6);
        line-height: 1;
        display: ;
        margin: 0.3em 0px 1em auto;
        position: relative;
        transition: var(--mainTransition);
        transform: translateX(100%);
    }
    span.click-me {
        float: left;
        margin: 1em 0em 0em 0em;
    }
    #bg-black-box:hover {
        color: white;
        text-align: center;
        margin: -1em;
        padding: .3em;
        width: 60%;
        font-size: 1.6em;
        margin-left: 0 auto;
        background: rgba(0,0,0,.6);
        line-height: 1;
        display: flex;
        margin: 0.3em 0px 1em auto;
        /* transform: translateX(-100%); */
    }
    span.journey {
        font-size: 1.7em;
    }
    p.carousel-text.text-uppercase {
        font-family: 'Libre Baskerville', serif;
        font-weight: bolder;
        margin: 0 3em 0px auto;
        width: 30%;
        font-size: 2em;
        line-height: 1;
    }

    /* PURE CSS TRIANGLE WITH BORDER LIST */
    .triangle-row {
        display: flex;
        border-left: 1.5em solid var(--tada-coral);
    }
    .triangle-box {
        /* border-left: 1.5em solid var(--tada-coral); */
        height: 2em;
        display: grid;
    }
    .triangle-right {
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 10px solid var(--tada-coral);
        border-bottom: 7px solid transparent;
        display: grid;
        vertical-align: middle;
        margin: auto;
    }

    ul.triangle-list {
        line-height: 2;
        margin: 0;
        list-style: none;
        display: contents;
    }
    li.triangle-list-items {
        /* border: 1px solid; */
        /* margin: auto; */
        padding: 0;
    }
    /* PURE CSS TRIANGLE WITH BORDER LIST */
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    span.display-none-desktop {
        display: none;
    }
    .tada-h2 {
        font-size: 2rem;
    }
    .tada-main-box {
        padding: 1em 1em 1em 1em;
    }
    .tada-main-box-two {
        padding: 3em 1em 1em 1em;
    }
    p.hearing-aids {
        font-size: 1.5em;
    }
    p.tada-contact-p {
        font-size: 1.5em;
    }
    .tada-bg-box {
        border: solid;
        background: url(../images/box-bg-1.png);
        background-position: top;
        color: white;
    }
    .resound-container-image {
        height: max-content;
        object-fit: cover;
    }
    p.carousel-text.text-uppercase {
        font-family: 'Libre Baskerville', serif;
        font-weight: bolder;
        margin: 0 7em 0px auto;
        width: 30%;
        font-size: 2em;
        line-height: 1;
    }
    .carousel-images {
        height: 100%;
    }
    .carousel-item.active {
        height: 50em;
    }
    
 }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  /*NAVBAR CSS*/
    a.navbar-brand {
        font-size: .9em;
        color: white;
        font-family: 'Arimo', sans-serif;
        padding-top: 0%;
    }
    a.navbar-brand {
        font-size: 1.5em;
        color: white;
        font-family: 'Libre Bakersville', sans-serif;
    }
    .logo {
        width: auto;
        height: 3em;
        /* background-image: url('../images/chesapeake-hearing-aids-logo.png'); */
    }
    /*CAROUSEL CSS*/
    h1.carousel-brand {
        font-size: 6em;
        line-height: 1;
    }
    .tada-carousel-override {
        padding-top: 2%;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }
    .tada-carousel-override-two {
        padding-top: 15%;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }
    .carousel-caption h5, p {
        font-size: 3em;
    }
    p.carousel-text.text-uppercase {
        font-family: 'Libre Baskerville', serif;
        font-weight: bolder;
        margin: 0 5em 0px auto;
        width: 30%;
        font-size: 2em;
        line-height: 1;
    }
    /*carousel height and carousel image height*/
    .carousel-item.active {
        display: block;
        min-height: 30em;
    }
    .tada-section {
        padding: 3em;
    }
    .tada-section-title {
        font-size: 4em;
    }
    .tada-main-box {
        padding: 1em 1em 1em 1em;
    }
    .tada-main-box-two {
        padding: 5em 1em 1em 1em;
    }
    .tada-bg-box {
        border: solid;
        padding: 10em 15em 10em 15em;
        /*background: url(../images/box-bg-1.jpg);
        background-position: top;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);*/
        color: white;
    }
    .hearing-aids-power-statement {
        font-size: 2.5em;
        font-family: 'Libre Baskerville', serif;
        color: var(--tada-blue);
        line-height: .3;
    }
    .tada-bg-box-img {
        background: url(../images/box-bg-1.jpg);
        background-position: top;
        background-webkit-transform: rotate(180deg);
        background-transform: rotate(180deg);
        position: relative;
        overflow: hidden;
    }
    .tada-img {
        padding-top: 5em;
    }
    .form-container {
        padding: 11em; 
        color: white;
    }
    .form-container-inside {
        padding: 2em 12em 2em 12em;
    }

    /* CONTACT */
    p.contact-p {
        font-size: 1.5em;
    }
    p.contact {
        font-size: 1.5em;
    }
        /* .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        min-height: 50em;
    } */
    /* .carousel-item.active {
        display: block;
        min-height: 50em;
    } */
    .carousel-images {
        height: 70%;
    }
}
